/*========== CSS Reset ==========*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*=================================
Custom CSS
==================================*/


/*======= Universal Styling =======
==================================*/

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0 auto;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
	width: 100%;
	height: 5em;
}

h1,
h2,
h3,
h4 {
	font-family: 'Ubuntu', sans-serif;
}

h1 {
	font-size: 2em;
	font-weight: bold;
}

h2 {
	font-size: 1.3em;
	font-weight: bold;
}

p {
	font-family: 'Sarala', sans-serif;
}



/*======= Hdr/Menu Styling =======*/

.logo {
	float: left;
	width: 35%;
	vertical-align: top;
}

#navright {
	float: right;
	width: 60%;
	vertical-align: top;
	text-align: right;
	font-family: 'Open Sans', sans-serif;
	font-size: .875em;
}

/*======= Universal  Styling =======*/
.navanim {
	animation: grow 1s backwards ease;
}

@keyframes grow {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
}


/*======= Main Styling =======*/

.streamlink {
	flex: 1;
}

.homestream {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 25vh;
	background-image: url("/images/hero.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}

.streamlink button {
	position: sticky;
	bottom: 0;
	width: 130%;
	font-size: .625em;
	font-weight: bold;
	letter-spacing: .07em;
	background: #c1dadc;
	border: .09em solid #000000;
	border-radius: .4em;
	padding: .3em 5%;
}

.mbhome aside {
	display: block;
	margin: 0;
}






/*======= Footer Styling =======*/







/*=================================
Subpage 1 Styling
==================================*/







/*=================================
Previously On  Styling
==================================*/


.maira {
	max-width: 1000px;
	padding: 10px;
	margin: 0 auto;
}

.maira h1 {
	margin: 25px 0;
	color:#9D0004
}

.maira h2 {
	margin: 10px 0;
}

.maira p {
	padding: 10px 0;
	line-height: 1.4;
}

.maira img {
	max-width: 300px;
	margin: 10px 0 15px 0;
}








/*=================================
Media Querries
==================================*/


/*=========== Small Screens ===========*/

@media only screen and (min-width: 320px) {

	#hamitems {
		width: 100%;
		position: sticky;
		top: 0;
	}
	
	#hamitems a {
		box-sizing: border-box;
		display: block;
		width: 100%;
		padding: 1em 7%;
		color: #212226;
		font-weight: bold;
		text-decoration: none;
		text-align: right;
	}
	
	#hamitems a:hover {
		opacity: 80%;
		font-weight: bolder;
	}
	
	#navright label {
		display: inline-block;
		color: #212226;
		font-size: 2.5em;
		padding: .5em 7% 0;
	}
	
	#hamitems {
		display: none;
	}
	
	#navright input:checked ~ #hamitems {
		display: block;
	}
	
	#hamburger {
		display: none;
	}



/*----Subpage 1 Code for 320MQ----*/







/*----Subpage 2 Code for 320MQ----*/






}


/*=========== Small Devices ===========*/

@media only screen and (min-width: 576px) {







/*----Subpage 1 Code for 576MQ----*/







/*----Subpage 2 Code for 576MQ----*/






}



/*=========== Medium Devices ===========*/

@media only screen and (min-width: 768px) {

	#hamitems {
		display: flex;
	}

	#hamitems a {
		padding: 0 3%;
		color: #86bdc2;
		font-weight: bolder;
		flex-grow: 1;
		flex-basis: 0;
		justify-content: flex-end;
	}

	#navright label, #hamburger {
		display: none;
	}

	header {
		background-color: #000000;
	}

	#navright {
		padding: 2.25em 7%;
	}

	.navanim {
		animation: grow 1.7s backwards ease;
	}
	
	@keyframes grow {
		from {
		  transform: translateY(-100%);
		}
		to {
		  transform: translateY(0%);
		}
	}

	
/*----Subpage 1 Code for 768MQ----*/







/*----Subpage 2 Code for 768MQ----*/

@media only screen and (min-width: 768px){
	.season-one,
	.season-two,
	.season-three {
		display: flex;
		flex-direction: row-reverse;
		margin: 20px 0 10px 0;
	}



	




/*=========== Large Devices ===========*/

@media only screen and (min-width: 992px) {







/*----Subpage 1 Code for 992MQ----*/







/*----Subpage 2 Code for 992MQ----*/






}



/*========== Extra Lg Devices ==========*/

@media only screen and (min-width: 1200px) {







/*----Subpage 1 Code for 1200MQ----*/







/*----Subpage 2 Code for 1200MQ----*/






}