/*========== CSS Reset ==========*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*=================================
Custom CSS
==================================*/


/*======= Universal Styling =======
==================================*/

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0 auto;
}

body {
    font-family: 'Ubuntu', sans-serif;
	font-family: 'Sarala', sans-serif;
}

header {
	width: 100%;
	height: 6em;
	background-color: #000000;
	border-bottom: .25em solid #000000;
}

h1 {
	font-family: 'Ubuntu', sans-serif;
	/* font-size: 4em; */
	/* Maira's suggestion for font size below */
	font-size: 2.8em;
	font-weight: bold;
	color: #9d0004;
}

h2 {
	font-family: 'Ubuntu', sans-serif;
	/* font-size: 3.68em; */
	/* Maira's suggestion for font size below */
	font-size: 2.2em;
	color: #000000;
}

h3 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 3.35em;
	font-weight: normal;
	color: #000000;
}

h4 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 3.01em;
	font-weight: lighter;
	color: #000000;
}

h5 {
	font-family: 'Sarala', sans-serif;
	font-size: 1.67em;
	color: #000000;
}

p {
	font-family: 'Sarala', sans-serif;
	font-size: 1.25em;
	line-height: 200%;
	color: #000000;
}


/*======= Hdr/Menu Styling =======*/

.logo {
	float: left;
	width: 39%;
	vertical-align: top;
	margin: .5em 0 0 6%;
}

.logo a:hover, .logo a:active {
	background-color: #000000;
}

.logo img[alt="Stranger Things Logo"] {
	max-width: 100%;
}

#navright {
	float: right;
	width: 38%;
	vertical-align: top;
	text-align: right;
	font-family: 'Ubuntu', sans-serif;
	font-size: .844em;
}


/*======= Universal  Styling =======*/

.navanim {
	animation: grow 1s backwards ease;
}

@keyframes grow {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
}


/*======= Main Styling =======*/

.mbhome {
	display: block;
}

.streamlink {
	position: relative;
	width: 100%;
}

.homestream img[alt="Hero Characters Cropped"] {
	background: #000000;
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

.streamlink img[alt="Season 4 Characters"] {
	display: none;
}

.streamlink button {
	position: absolute;
	top: 87%;
	left: 48%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	width: 35%;
	font-size: .875em;
	font-weight: bold;
	background: #c1dadc;
	border: .09em solid #000000;
	border-radius: .4em;
	padding: .45em 0;
}

.streamlink button:hover, button:active {
	background-color: #48a0a7;
}

.mbhome aside {
	display: block;
	background-color: #ffffff;
	border-top:  3.25em solid #ffffff;
}

.mbhome aside figure:before {
	content: 'Season 4 Spoilers';
	font-family: 'Ubuntu', sans-serif;
	font-size: 2em;
	font-weight: bolder;
	color: #9d0004;
}

.mbsmpic {
	text-align: center;
}

figure img[alt="Season 4 Pic"] {
	max-width: 70%;
	margin: 3em 0 0;
}

.mbsmpic figcaption {
	font-size: .75em;
	letter-spacing: .02em;
	padding: .5em 0 4em;
	opacity: 70%;
}

.mbhome article {
	background-color: #ffffff;
}

.mbhome article h1 {
	display: none;
}

.mbhome article p {
	font-size: large;
	padding: .5em 8% .5em;
}

.mbmore {
	line-height: 170%;
	padding: 0 9%;
}

.mbmore > a {
	display: block;
	padding: .1em 3%;
	margin: 1.3em 28% 3.75em;
	text-align: center;
	text-decoration: none;
	color:#000000;
	border-radius: .5em;
	background-color:#d8a6a7;
	border: .1em solid #000000;
}

.mbmore a:hover, a:active {
	background-color: #9d0004;
}


/*======= Footer Styling =======*/

footer {
	display: block;
	background-color: #000000;
	margin: 1.75em 0 0;
	padding: 1.5em 10%;
}

.ftrnav ul li a {
    font-family: 'Ubuntu', sans-serif;
	color: #ffffff;
	line-height: 275%;
	font-size: x-small;
	font-weight: lighter;
	text-decoration: none;
}

.ftrnav ul li a:hover {
	background-color: #000000;
	font-weight: bolder;
	color: #86bdc2;
}

.ftrnav ul li a:active {
	background-color: #000000;
	font-weight: bolder;
	color: #48a0a7;
}

footer p {
    font-family: 'Ubuntu', sans-serif;
	color: #ffffff;
	font-size: xx-small;
	font-weight: lighter;
	padding: .5em 0 0;
	text-align: right;
}


/*=================================
About (Christina)
==================================*/

.about  {
	padding: 40px;
}

.image-list-small img,
.about-details {
	padding: 30px;
}

.image-list-small img {
	border-radius: 50%;
}

.image-list-small {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

.about-details {
	width: 350px;
	text-align: center;
}

.slick-prev.slick-arrow {
    left: 20px;
}

.slick-next.slick-arrow {
    right: 20px;
}

.slick-arrow {
    position: absolute;
    top: 0;
	background-color: #c1dadc;
    border: 2px solid #000000;
    border-radius: 5px;
    text-align: center;
	max-width: 200px;
	margin-top: 20px;
	margin-bottom: 15px;
	padding: 2px 5px;
}
/*=================================
About hover image
==================================*/
.christina img:hover {
    opacity: 0.8;
    transition: 0.3s ease;

}

/*=================================
Previously On Styling
==================================*/

.maira {
	max-width: 1200px;
	padding: 40px;
	margin: 0 auto;
}

.maira h1 {
	margin: 60px 0 40px 0;
	color:#9D0004;
}

.maira h2 {
	margin: 10px 0;
}

.maira p {
	padding: 10px 0;
	line-height: 1.6;
}

.maira img {
	max-width: 100%;
	margin: 10px 0 15px 0;
	transition: 0.3s;
}

.maira img:hover {
    opacity: 0.8;
    transition: 0.3s;
}

.button-recap {
    background-color: #C1DADC;
    border: 2px solid #000000;
    border-radius: 10px;
    text-align: center;
	max-width: 200px;
	margin-top: 20px;
	margin-bottom: 15px;
}

.button-recap a {
	text-decoration: none;
}


/*=================================
Media Querries
==================================*/


/*=========== Small Screens ===========*/
/* w/font guidelines:

.urclass h1 {
	font-size: 2em;
}
.urclass p {
	font-size: medium;
}
_______________________________________*/

@media only screen and (min-width: 320px) {

	#hamitems {
		position: sticky;
		top: 0;
		width: 100%;
		background-color: #000000;
		border-radius: 0 0 0 .25em;
		z-index: 2;
	}

	#hamitems a {
		box-sizing: border-box;
		display: block;
		width: 100%;
		padding: 1em 10% 1em 5%;
		color: #ffffff;
		font-weight: bold;
		text-decoration: none;
		text-align: right;
	}

	#hamitems a:hover {
		font-weight: bolder;
		background-color: #86bdc2;
	}

	#hamitems a:active {
		font-weight: bolder;
		background-color: #48a0a7;
	}

	#navright label {
		display: inline-block;
		color: #ffffff;
		font-size: 2.5em;
		padding: .5em 10% 0;
	}

	#hamitems {
		display: none;
	}

	#navright input:checked ~ #hamitems {
		display: block;
	}

	#hamburger {
		display: none;
	}


/*----Subpage 1 Code for 320MQ----*/





/*----Subpage 2 Code for 320MQ----*/





}


/*=========== Small Devices ===========*/
/* w/font guidelines:

.urclass h1 {
	font-size: 2.5em;
}
.urclass p {
	font-size: large;
}
_______________________________________*/

@media only screen and (min-width: 576px) {

	header {
		height: 6.25em;
		border-bottom: .25em solid #000000;
	}

	.logo {
		width: 31%;
		margin: .5em 0 0 5%;
	}
	
	#navright {
		width: 38%;
	}
	
	.streamlink button {
		top: 87%;
		left: 49%;
		width: 31%;
		font-size: 1.5em;
		padding: .43em 0;
	}

	figure img[alt="Season 4 Pic"] {
		max-width: 70%;
		margin: 3em 10% 0;
	}

	.mbsmpic figcaption {
		font-size: 1em;
		padding: .7em 0 4em;
	}

	.mbhome aside figure:before {
		font-size: 2.8em;
	}

	#mbhdg {
		margin: 1.5em 0 .6em 9%;
	}

	.mbmore > a {
		margin: 1.75em 34% 4.4em;
	}

	footer {
		display: inline-block;
		width: 100%;
		padding: 1.5em 5% 2em 10%;
		vertical-align: top;
	}

	.ftrnav {
		float: left;
		width: 25%;
	}

	.ftrnav ul li a {
		line-height: 220%;
		font-size: small;
	}

	footer p {
		float: left;
		width: 65%;
		font-size: x-small;
		padding: 9em 0 0;
	}


/*----Subpage 1 Code for 576MQ----*/






/*----Subpage 2 Code for 576MQ----*/





}


/*=========== Medium Devices ===========*/
/* w/font guidelines:

.urclass h1 {
	font-size: 3em;
}
.urclass p {
	font-size: larger;
}
_______________________________________*/

@media only screen and (min-width: 768px) {

	header {
		height: 6.25em;
	}

	.logo {
		width: 24%;
		margin: .5em 0 0 6%;
	}
	
	#navright {
		width: 70%;
		padding: 2.15em 7%;
		font-size: 1em;
	}

	#hamitems {
		display: flex;
		background-color: #000000;
	}

	#hamitems a {
		padding: 0 6% 0 0;
		color: #86bdc2;
		font-weight: bolder;
		flex-grow: 1;
		flex-basis: 0;
		justify-content: flex-end;
	}

	#hamitems a:hover {
		font-weight: bolder;
		background-color: #000000;
	}

	#hamitems a:active {
		font-weight: bolder;
		background-color: rgba(193, 218, 220, 75%);
	}

	#navright label, #hamburger {
		display: none;
	}

	header {
		background-color: #000000;
	}

	.navanim {
		animation: grow 1.7s backwards ease;
	}

	@keyframes grow {
		from {
		  transform: translateY(-100%);
		}
		to {
		  transform: translateY(0%);
		}
	}

	.homestream img[alt="Hero Characters Cropped"] {
		display: none;
	}
	
	.streamlink img[alt="Season 4 Characters"] {
		display: unset;
		background: #000000 cover no-repeat;
		max-width: 100%;
		height: auto;
		vertical-align: top;
	}

	.streamlink button {
		top: 89%;
		left: 72%;
		width: 22%;
		font-size: 1.5em;
		padding: .16em 0;
	}

	.mbhome aside figure:before {
		display: none;
	}

	.mbhome aside, article {
		padding: 2em 0 0;
	}

	.mbhome aside {
		display: inline;
		width: 50%;
		float: left;
		background-color: #ffffff;
	}

	figure img[alt="Season 4 Pic"] {
		max-width: 70%;
		margin: 0;
		box-shadow: .8em .7em rgba(193, 190, 190, 45%);
	}

	.mbsmpic figcaption {
		font-size: 1.125em;
		padding: 1em 0 3em;
		opacity: 58%;
	}

	.mbhome article {
		display: inline;
		width: 45%;
		float: left;
		background-color: #ffffff;
		border-top: 2.25em solid #ffffff;
	}

	.mbhome article h1 { 
		display: contents;
		text-align: left;
		font-size: 2.3em;
	}

	.mbhome article p {
		font-size: larger;
	}

	.mbmore {
		padding: 2em 0 0;
	}

	.mbmore > a {
		margin: 1.5em 30% 4em;
	}

	footer {
		display: flex;
		flex-flow: column wrap;
		padding: 1.5em 5% 2em 8%;
		border-bottom: .3em solid #000000;
	}

	.ftrwrap {
		display: flex;
	}

	.ftrnav {
		flex: 1;
		flex: 0 0 15em;
	}

	.ftrnav ul li a {
		line-height: 215%;
		font-size: small;
	}

	footer p {
		font-size: small;
		padding: 0;
		align-self: flex-end;
	}


/*----Subpage 1 Code for 768MQ----*/







/*----Subpage 2 Code for 768MQ----*/

	.maira {
		padding: 0 40px;
	}

	.maira h1 {
		font-size: 3em;
	}

	.maira h2 {
		font-size: 2.5em;
	}

	.maira p {
		font-size: larger;
	}

	.season-one,
	.season-two,
	.season-three {
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
	}

	.seasons {
		margin: 42px 0;
		max-width: 100%;
	}

	.maira article {
		max-width: 60%;
		padding-right: 50px;
	}

	.maira aside {
		padding-left: 20px;
	}

	.maira img {
		width: 100%;
		max-width: 370px;
	}

}

/*=========== Large Devices ===========*/
/* w/font guidelines:

.urclass h1 {
	font-size: 3.5em;
}
.urclass p {
	font-size: 1.25em;
}
_______________________________________*/

@media only screen and (min-width: 992px) {

	header {
		height: 6.8em;
	}

	#navright {
		padding: 2.10em 7%;
		font-size: 1.125em;
	}

	.streamlink button {
		top: 89%;
		left: 72%;
		width: 20%;
		font-size: 1.563em;
		padding: .20em 0;
	}

	.mbhome aside, article {
		padding: 1.5em 0 0;
	}

	.mbhome aside {
		width: 53%;
		float: left;
	}

	figure img[alt="Season 4 Pic"] {
		max-width: 63%;
	}

	.mbsmpic figcaption {
		font-size: 1.25em;
		padding: 1em 0 3em;
	}

	.mbhome article {
		width: 41%;
		border-top: 5.5em solid #ffffff;
	}

	.mbhome article h1 {
		font-size: 3em;
	}

	.mbhome article p {
		font-size: 1.25em;
	}

	.mbmore > a {
		margin: 2.5em 33% 5.75em;
	}

	footer {
		border-bottom: .8em solid #000000;
	}

	.ftrnav ul li a {
		line-height: 225%;
		font-size: medium;
	}

	footer p {
		font-size: medium;
	}


/*----Subpage 1 Code for 992MQ----*/







/*----Subpage 2 Code for 992MQ----*/

	.maira article {
		padding-right: 80px;
	}

	.maira h1 {
		font-size: 3.5em;
	}

	.maira h2 {
		font-size: 2.75em;
	}

	.maira p {
		font-size: 1.25em;
	}
}


/*========== Extra Lg Devices ==========*/
/* w/font guidelines:

.urclass h1 {
	font-size: 4em;
}
.urclass p {
	font-size: 1.5em;
}
_______________________________________*/

@media only screen and (min-width: 1200px) {

	header {
		height: 7.5em;
	}

	#navright {
		font-size: 1.25em;
	}

	.streamlink button {
		top: 88%;
		left: 72%;
		width: 18%;
		font-size: 1.625em;
		padding: .23em 0;
	}

	figure img[alt="Season 4 Pic"] {
		max-width: 60%;
	}

	.mbsmpic figcaption {
		font-size: 1.25em;
	}
	
	.mbhome article {
		width: 35%;
		border-top: 7em solid #ffffff;
	}

	.mbhome article h1 {
		font-size: 3.5em;
		letter-spacing: -.05em;
	}

	.mbhome article p {
		font-size: 1.625em;
	}

	.mbmore > a {
		margin: 2em 36% 5.25em;
	}

	footer {
		border-bottom: 1.25em solid #000000;
	}

	.ftrnav {
		flex: 0 0 18em;
	}

	.ftrnav ul li a {
		line-height: 230%;
		font-size: large;
	}

	footer p {
		font-size: large;
		align-self: flex-end;
	}


/*----Subpage 1 Code for 1200MQ----*/







/*----Subpage 2 Code for 1200MQ----*/

}